In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [34]:
titanic = sns.load_dataset("titanic")

In [3]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [8]:
titanic.loc[titanic["adult_male"] == True, ["survived"]].mean()

survived    0.163873
dtype: float64

In [9]:
titanic["survived"].mean()

0.3838383838383838

In [10]:
# 남성 전반의 생존률
titanic.loc[titanic["sex"] == "male", ["survived"]].mean()

survived    0.188908
dtype: float64

In [11]:
# 여성 전반의 생존률
titanic.loc[titanic["sex"] == "female", ["survived"]].mean()

survived    0.742038
dtype: float64

In [12]:
# 성인 남성으로 분류되지 않은 남성의 최대 나이 = 성인의 기준?
titanic.loc[(titanic["adult_male"] == False) & (titanic["sex"] == "male"), "age"].max()

15.0

In [15]:
# 남성 미성년자(15세 이하) 생존률
titanic.loc[(titanic["sex"] == "male") & (titanic["age"] <= 15), "survived"].mean()

0.525

In [16]:
# 여성 미성년자(15세 이하) 생존률
titanic.loc[(titanic["sex"] == "female") & (titanic["age"] <= 15), "survived"].mean()

0.6511627906976745

In [17]:
# 성인 여성의 생존률
titanic.loc[(titanic["sex"] == "female") & (titanic["age"] > 15), "survived"].mean()

0.7752293577981652

In [35]:
titanic["class"].replace({"First" : 1, "Second" : 2, "Third" : 3}, inplace = True)

In [22]:
titanic["class"].unique()

[3, 1, 2]
Categories (3, int64): [1, 2, 3]

In [23]:
titanic.loc[titanic["class"] == 1, "survived"].mean()

0.6296296296296297

In [30]:
len(titanic.loc[titanic["class"] == 1])

216

In [24]:
titanic.loc[titanic["class"] == 2, "survived"].mean()

0.47282608695652173

In [29]:
len(titanic.loc[titanic["class"] == 2])

184

In [25]:
titanic.loc[titanic["class"] == 3, "survived"].mean()

0.24236252545824846

In [28]:
len(titanic.loc[titanic["class"] == 3])

491

In [36]:
titanic["sex"].replace({"male" : 0, "female" : 1}, inplace = True)

In [42]:
# 전체 승객의 성비 (1에 가까울 수록 여성 비율이 높음)
titanic["sex"].mean()

0.35241301907968575

In [43]:
# 1등석의 성비
titanic.loc[titanic["class"] == 1, "sex"].mean()

0.4351851851851852

In [44]:
# 2등석의 성비
titanic.loc[titanic["class"] == 2, "sex"].mean()

0.41304347826086957

In [45]:
# 3등석의 성비
titanic.loc[titanic["class"] == 3, "sex"].mean()

0.29327902240325865