In [1]:
# 1 부터 1000까지의 자연수 중 3의 배수 합 구하기
# 166833

total = 0

for i in range(1, 1001):
    if i % 3 == 0:
        total += i
        
    else:
        continue
        
print(total)

166833

In [ ]:
list1 = [i for i in range(1, 1001) if i % 3 == 0]

total

In [2]:
sum(range(1, 11))

55

In [11]:
sum([i for i in range(1,1001) if i % 3 == 0])

166833

In [26]:
total = 0
i = 1

while i <= 999:
    i += 1

    if i % 3 == 0:
        total += i
        
    else:
        continue    
    
else:
    print(total)

166833

In [ ]:
# 2. 계단식으로 별 출력하기(첫 줄에는 *개, 두 번째 줄에는 *2개, .... 다섯 번째 줄에는 * 5개)
# *
# **
# ***
# ****
# *****

In [73]:
for x in range(5):
    
    for y in range(5):
        
        if x >= y:
            print("*", end="")
            
        else:
            print(" ", end="")
    
    print()

*
**
***
****
*****

In [56]:
for i in range(1,6):
    print("*" * i)

*
**
***
****
*****

In [58]:
star = ""

for _ in range(5):
    star += "*"
    print(star)

*
**
***
****
*****

In [69]:
list1 = range(1, 7)

for i in list1:
    if i == 1:
        print(" " * (len(list1) - i), end = ""),print("☆")
    else:
        print(" " * (len(list1) - i), end = ""),print("*" * (2*i))

     ☆
    ****
   ******
  ********
 **********
************

In [76]:
# 3. 1부터 10까지의 자연수 중 홀수만 2를 곱해서 리스트로 저장하기

result = [i * 2 for i in range(1,11) if i%2 == 1]

print(result)

[2, 6, 10, 14, 18]

In [77]:
result = []

for i in range (1, 11):
    if i % 2 == 1:
        result.append(i*2)
        
print(result)

[2, 6, 10, 14, 18]

In [19]:
# 4. 화폐매수 구하기

a = 156780 # 원 => 5만원 3장, 1만원 0장, 5천원 1장, 1천원 1장, 5백원 1개, 백원 2개, 50원 1개, 10원 3개
b = [50000, 10000, 5000, 1000, 500, 100, 50, 10]

for i in b:
    c = a//i
    a -= (i * c)
    print(f"{i}원 - {c}개")

50000원 - 3개
10000원 - 0개
5000원 - 1개
1000원 - 1개
500원 - 1개
100원 - 2개
50원 - 1개
10원 - 3개

In [20]:
a = 156780
b = [50000, 10000, 5000, 1000, 500, 100, 50, 10]
dict1 = {}

for i in b:
    c = a//i
    a -= (i * c)
    dict1[i] = c
    
print(dict1)

{50000: 3, 10000: 0, 5000: 1, 1000: 1, 500: 1, 100: 2, 50: 1, 10: 3}

In [18]:
a = 156780
b = [50000, 10000, 5000, 1000, 500, 100, 50, 10]

for i in b:
    c = 0
    
    while a >= i:
        a -= i
        c += 1
        
    print(f"{i}원 - {c}개")

50000원 - 3개
10000원 - 0개
5000원 - 1개
1000원 - 1개
500원 - 1개
100원 - 2개
50원 - 1개
10원 - 3개

In [85]:
a = 156780
o = a
b = [50000, 10000, 5000, 1000, 500, 100, 50, 10]
total = 0
cash = {50000: 3, 10000: 2, 5000: 3, 1000: 4, 500: 6, 100: 5, 50: 2, 10: 4}
cash_total = 0


for i in b:
    c = 0
    
    while a >= i and 0 < cash[i]:
        a -= i
        c += 1
        cash[i] -= 1
        
    total += i * c
        
    print(f"{i}원 - {c}개")

print()
print(f"잔액 : {cash}")

if total < o:

    print(f"잔액이 {o - total}원 부족합니다.")
    
else:
    for j in cash:
        cash_total += cash[j]*j
    
    print(f"현재 잔액이 {cash_total}원 입니다.")

50000원 - 3개
10000원 - 0개
5000원 - 1개
1000원 - 1개
500원 - 1개
100원 - 2개
50원 - 1개
10원 - 3개

잔액 : {50000: 0, 10000: 2, 5000: 2, 1000: 3, 500: 5, 100: 3, 50: 1, 10: 1}
현재 잔액이 35860원 입니다.

In [125]:
# 5. name 과 data를 각각 리스트에 담기
q5 = [{"name":"y1","data":"123"}, {"name":"y2","data":"234"}, {"name":"y3","data":"345"}, {"name":"y4","data":"456"}]

name = []
data = []

for i in range(0,len(q5)):
    name.append(q5[i]["name"])
    data.append(q5[i]["data"])
    
print(name)
print(data)

for j in range(0,len(q5)):
    print(f"{name[j]} : {data[j]}")

['y1', 'y2', 'y3', 'y4']
['123', '234', '345', '456']
y1 : 123
y2 : 234
y3 : 345
y4 : 456

In [131]:
q5 = [{"name":"y1","data":"123"}, {"name":"y2","data":"234"}, {"name":"y3","data":"345"}, {"name":"y4","data":"456"}]

name = []
data = []

for i in q5:
    name.append(i["name"])
    data.append(i["data"])
    
print(name)
print(data)

for i in range(len(name)):
    print(f"{name[i]} : {data[i]}")

['y1', 'y2', 'y3', 'y4']
['123', '234', '345', '456']
y1 : 123
y2 : 234
y3 : 345
y4 : 456

In [134]:
q5 = [{"name":"y1","data":"123"}, {"name":"y2","data":"234"}, {"name":"y3","data":"345"}, {"name":"y4","data":"456"}]

name = []
data = []

for i in q5:
    name.append(i["name"])
    data.append(i["data"])

for i in zip(name, data):
    print(i[0], i[1])

y1 123
y2 234
y3 345
y4 456

In [179]:
# 6. id, name, age를 각각 리스트에 담고 각각의 요소를 짝지어 출력하기

q6 = {"ret":{"id":"a386","name":"123","age":34},
      "ret1":{"id":"a383","name":"123","age":36}, 
      "ret2":{"id":"a384","name":"234","age":28}}

id_list = []
name = []
age = []

for i in q6:
    id_list.append(q6[i]["id"])
    name.append(q6[i]["name"])
    age.append(q6[i]["age"])

print(id_list)
print(name)
print(age)

for i in zip(id_list, name, age):
    print(i[0], i[1], i[2])

['a386', 'a383', 'a384']
['123', '123', '234']
[34, 36, 28]
a386 123 34
a383 123 36
a384 234 28

In [180]:
for i in zip(id_list, name, age):
    for j in range(len(i)):
        print(i[j], end=" ")
    print()

a386 123 34
a383 123 36
a384 234 28

In [181]:
for i in range(len(id_list)):
    print(id_list[i], name[i], age[i])

a386 123 34
a383 123 36
a384 234 28

In [29]:
# 7. id, name, age를 각각 리스트에 담고 각각의 요소를 짝지어 출력하기

id_list = []
name = []
age = []

q7 = {"ret":[{"id":"a2001","name":"123","age":34},
             {"id":"a2002","name":"123","age":54},
             {"id":"a2003","name":"123","age":36},
             {"id":"a2004","name":"123","age":38}],
      "ret1":[{"id":"a2005","name":"123","age":17},
              {"id":"a2006","name":"123","age":52},
              {"id":"a2007","name":"123","age":33}]}

q7["ret"][1]["id"]

for i in q7:    
    for j in q7[i]:
        id_list.append(j["id"])
        name.append(j["name"])
        age.append(j["age"])
        
print(id_list)
print(name)
print(age)

for i in range(len(id_list)):
    print(id_list[i], name[i], age[i])

['a2001', 'a2002', 'a2003', 'a2004', 'a2005', 'a2006', 'a2007']
['123', '123', '123', '123', '123', '123', '123']
[34, 54, 36, 38, 17, 52, 33]
a2001 123 34
a2002 123 54
a2003 123 36
a2004 123 38
a2005 123 17
a2006 123 52
a2007 123 33

In [30]:
print(q7["ret"][0]["id"])
print(q7["ret"][1]["id"])

a2001
a2002

In [31]:
id_list = []
name = []
age = []

id_list = [ q7[i][j]["id"] for i in q7 for j in range(len(q7[i])) ]
name = [ q7[i][j]["name"] for i in q7 for j in range(len(q7[i])) ]
age = [ q7[i][j]["age"] for i in q7 for j in range(len(q7[i])) ]

print(id_list)
print(name)
print(age)

['a2001', 'a2002', 'a2003', 'a2004', 'a2005', 'a2006', 'a2007']
['123', '123', '123', '123', '123', '123', '123']
[34, 54, 36, 38, 17, 52, 33]

In [37]:
# 8. name, species, likes, dislikes 를 각각 리스트에 담고 각각의 요소를 짝지어 출력하기

q8 = [{"name":"AAA","species":"cat","foods":{"likes":["tuna","catnip"],"dislikes":["ham","zucchini"]}},
      {"name":"BBB","species":"dog","foods":{"likes":["bones","carrots"],"dislikes":["tuna"]}},
      {"name":"CCC","species":"cat","foods":{"likes":["mice"],"dislikes":["cookies"]}}]

name = []
species = []
likes = []
dislikes = []

for i in q8:
    name.append(i["name"])
    species.append(i["species"])
    likes.append(i["foods"]["likes"])
    dislikes.append(i["foods"]["dislikes"])
    
print(name)
print(species)
print(likes)
print(dislikes)

print()

for i in range(len(name)):
    print(name[i], species[i], likes[i], dislikes[i])

['AAA', 'BBB', 'CCC']
['cat', 'dog', 'cat']
[['tuna', 'catnip'], ['bones', 'carrots'], ['mice']]
[['ham', 'zucchini'], ['tuna'], ['cookies']]

AAA cat ['tuna', 'catnip'] ['ham', 'zucchini']
BBB dog ['bones', 'carrots'] ['tuna']
CCC cat ['mice'] ['cookies']

In [45]:
q8 = [{"name":"AAA","species":"cat","foods":{"likes":["tuna","catnip"],"dislikes":["ham","zucchini"]}},
      {"name":"BBB","species":"dog","foods":{"likes":["bones","carrots"],"dislikes":["tuna"]}},
      {"name":"CCC","species":"cat","foods":{"likes":["mice"],"dislikes":["cookies"]}}]

name = []
species = []
likes = []
dislikes = []

name = [i["name"] for i in q8]
species = [i["species"] for i in q8]
likes = [i["foods"]["likes"] for i in q8]
dislikes = [i["foods"]["dislikes"] for i in q8]
    
print(name)
print(species)
print(likes)
print(dislikes)

print()

for i in range(len(name)):
    print(name[i], species[i], likes[i], dislikes[i])

['AAA', 'BBB', 'CCC']
['cat', 'dog', 'cat']
[['tuna', 'catnip'], ['bones', 'carrots'], ['mice']]
[['ham', 'zucchini'], ['tuna'], ['cookies']]

AAA cat ['tuna', 'catnip'] ['ham', 'zucchini']
BBB dog ['bones', 'carrots'] ['tuna']
CCC cat ['mice'] ['cookies']

In [63]:
# 9. id, name, age를 각각 리스트에 담고 각각의 요소 짝지어 출력하기

q9 = {"ret":"y","data":[{"id":"id1","name":"가나다1","age":31},
                        {"id":"id2","name":"가나다2","age":32},
                        {"id":"id3","name":"가나다3","age":33},
                        {"id":"id4","name":"가나다4","age":34},
                        {"id":"id5","name":"가나다5","age":35}]}

id_list = []
name = []
age = []

for i in q9["data"]:
    id_list.append(i["id"])
    name.append(i["name"])
    age.append(i["age"])
  
print(id_list)
print(name)
print(age)

print()

for i in range(len(id_list)):
    print(id_list[i], name[i], age[i])

['id1', 'id2', 'id3', 'id4', 'id5']
['가나다1', '가나다2', '가나다3', '가나다4', '가나다5']
[31, 32, 33, 34, 35]

id1 가나다1 31
id2 가나다2 32
id3 가나다3 33
id4 가나다4 34
id5 가나다5 35

In [55]:
q9 = {"ret":"y","data":[{"id":"id1","name":"가나다1","age":31},
                        {"id":"id2","name":"가나다2","age":32},
                        {"id":"id3","name":"가나다3","age":33},
                        {"id":"id4","name":"가나다4","age":34},
                        {"id":"id5","name":"가나다5","age":35}]}

id_list = []
name = []
age = []

id_list = [i["id"] for i in q9["data"]]
name = [i["name"] for i in q9["data"]]
age = [i["age"] for i in q9["data"]]

print(id_list)
print(name)
print(age)

print()

for i in range(len(id_list)):
    print(id_list[i], name[i], age[i])

['id1', 'id2', 'id3', 'id4', 'id5']
['가나다1', '가나다2', '가나다3', '가나다4', '가나다5']
[31, 32, 33, 34, 35]

id1 가나다1 31
id2 가나다2 32
id3 가나다3 33
id4 가나다4 34
id5 가나다5 35

In [100]:
# 10. id, name, age, math, eng, kor (math, eng, kor) 합계를 각각 리스트에 담고 각각의 요소를 짝지어 출력하기

q10 = {"ret":"y","data":[{"id":"id1","name":"가나다1","age":31,"score":{"math":50,"eng":90,"kor":69}},
                         {"id":"id2","name":"가나다2","age":32,"score":{"math":90,"eng":68,"kor":80}},
                         {"id":"id3","name":"가나다3","age":33,"score":{"math":70,"eng":76,"kor":60}},
                         {"id":"id4","name":"가나다4","age":34,"score":{"math":80,"eng":79,"kor":50}},
                         {"id":"id5","name":"가나다5","age":35,"score":{"math":80,"eng":78,"kor":90}}]}

id_list = []
name = []
age = []
math = []
eng = []
kor = []
total = []

all_list = [id_list, name, age, math, eng, kor, total]

for i in q10["data"]:
    id_list.append(i["id"])
    name.append(i["name"])
    age.append(i["age"])
    math.append(i["score"]["math"])
    eng.append(i["score"]["eng"])
    kor.append(i["score"]["kor"])
    total.append(i["score"]["math"] + i["score"]["eng"] + i["score"]["kor"])
    
for i in all_list:
    print(i)

print()

for i in range(len(id_list)):
    for j in all_list:
        print(j[i], end = " ")
    print()

['id1', 'id2', 'id3', 'id4', 'id5']
['가나다1', '가나다2', '가나다3', '가나다4', '가나다5']
[31, 32, 33, 34, 35]
[50, 90, 70, 80, 80]
[90, 68, 76, 79, 78]
[69, 80, 60, 50, 90]
[209, 238, 206, 209, 248]

id1 가나다1 31 50 90 69 209
id2 가나다2 32 90 68 80 238
id3 가나다3 33 70 76 60 206
id4 가나다4 34 80 79 50 209
id5 가나다5 35 80 78 90 248

In [116]:
# 11. 영화 제목만 추출된 리스트 생성하기

q11 = {"boxOfficeResult":{"boxofficeType":"일별 박스오피스","showRange":"20120101~20120101","dailyBoxOfficeList":
                          [{"rnum":"1","rank":"1","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20112207","movieNm":"미션임파서블:고스트프로토콜","openDt":"2011-12-15","salesAmt":"2776060500","salesShare":"36.3","salesInten":"-415699000","salesChange":"-13","salesAcc":"40541108500","audiCnt":"353274","audiInten":"-60106","audiChange":"-14.5","audiAcc":"5328435","scrnCnt":"697","showCnt":"3223"},
                           {"rnum":"2","rank":"2","rankInten":"1","rankOldAndNew":"OLD","movieCd":"20110295","movieNm":"마이 웨이","openDt":"2011-12-21","salesAmt":"1189058500","salesShare":"15.6","salesInten":"-105894500","salesChange":"-8.2","salesAcc":"13002897500","audiCnt":"153501","audiInten":"-16465","audiChange":"-9.7","audiAcc":"1739543","scrnCnt":"588","showCnt":"2321"},
                           {"rnum":"3","rank":"3","rankInten":"-1","rankOldAndNew":"OLD","movieCd":"20112621","movieNm":"셜록홈즈 : 그림자 게임","openDt":"2011-12-21","salesAmt":"1176022500","salesShare":"15.4","salesInten":"-210328500","salesChange":"-15.2","salesAcc":"10678327500","audiCnt":"153004","audiInten":"-31283","audiChange":"-17","audiAcc":"1442861","scrnCnt":"360","showCnt":"1832"},
                           {"rnum":"4","rank":"4","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20113260","movieNm":"퍼펙트 게임","openDt":"2011-12-21","salesAmt":"644532000","salesShare":"8.4","salesInten":"-75116500","salesChange":"-10.4","salesAcc":"6640940000","audiCnt":"83644","audiInten":"-12225","audiChange":"-12.8","audiAcc":"895416","scrnCnt":"396","showCnt":"1364"},
                           {"rnum":"5","rank":"5","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20113271","movieNm":"프렌즈: 몬스터섬의비밀 ","openDt":"2011-12-29","salesAmt":"436753500","salesShare":"5.7","salesInten":"-89051000","salesChange":"-16.9","salesAcc":"1523037000","audiCnt":"55092","audiInten":"-15568","audiChange":"-22","audiAcc":"202909","scrnCnt":"290","showCnt":"838"},
                           {"rnum":"6","rank":"6","rankInten":"1","rankOldAndNew":"OLD","movieCd":"19940256","movieNm":"라이온 킹","openDt":"1994-07-02","salesAmt":"507115500","salesShare":"6.6","salesInten":"-114593500","salesChange":"-18.4","salesAcc":"1841625000","audiCnt":"45750","audiInten":"-11699","audiChange":"-20.4","audiAcc":"171285","scrnCnt":"244","showCnt":"895"},
                           {"rnum":"7","rank":"7","rankInten":"-1","rankOldAndNew":"OLD","movieCd":"20113381","movieNm":"오싹한 연애","openDt":"2011-12-01","salesAmt":"344871000","salesShare":"4.5","salesInten":"-107005500","salesChange":"-23.7","salesAcc":"20634684500","audiCnt":"45062","audiInten":"-15926","audiChange":"-26.1","audiAcc":"2823060","scrnCnt":"243","showCnt":"839"},
                           {"rnum":"8","rank":"8","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20112709","movieNm":"극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」","openDt":"2011-12-22","salesAmt":"167809500","salesShare":"2.2","salesInten":"-45900500","salesChange":"-21.5","salesAcc":"1897120000","audiCnt":"24202","audiInten":"-7756","audiChange":"-24.3","audiAcc":"285959","scrnCnt":"186","showCnt":"348"},
                           {"rnum":"9","rank":"9","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20113311","movieNm":"앨빈과 슈퍼밴드3","openDt":"2011-12-15","salesAmt":"137030000","salesShare":"1.8","salesInten":"-35408000","salesChange":"-20.5","salesAcc":"3416675000","audiCnt":"19729","audiInten":"-6461","audiChange":"-24.7","audiAcc":"516289","scrnCnt":"169","showCnt":"359"},
                           {"rnum":"10","rank":"10","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20112708","movieNm":"극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」","openDt":"2011-12-22","salesAmt":"125535500","salesShare":"1.6","salesInten":"-40756000","salesChange":"-24.5","salesAcc":"1595695000","audiCnt":"17817","audiInten":"-6554","audiChange":"-26.9","audiAcc":"235070","scrnCnt":"175","showCnt":"291"}]}}

movieNm_list = []

for i in q11["boxOfficeResult"]["dailyBoxOfficeList"]:
    movieNm_list.append(i["movieNm"])
                          
# print(movieNm_list)

# for i in movieNm_list:
#     print(i)

print(*movieNm_list, sep="\n")

미션임파서블:고스트프로토콜
마이 웨이
셜록홈즈 : 그림자 게임
퍼펙트 게임
프렌즈: 몬스터섬의비밀
라이온 킹
오싹한 연애
극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」
앨빈과 슈퍼밴드3
극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」

In [118]:
movieNm_list = []

movieNm_list = [i["movieNm"] for i in q11["boxOfficeResult"]["dailyBoxOfficeList"]]

print(*movieNm_list, sep="\n")

미션임파서블:고스트프로토콜
마이 웨이
셜록홈즈 : 그림자 게임
퍼펙트 게임
프렌즈: 몬스터섬의비밀
라이온 킹
오싹한 연애
극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」
앨빈과 슈퍼밴드3
극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」

In [127]:
# 12. 두 리스트를 조합해 하나의 딕셔너리 만들기

key_list = ["name", "hp", "mp", "level", "atk", "def"]
value_list = ["기사", 200, 30, 5, 4, 3]
character = dict()

for i in range(len(key_list)):
    character[key_list[i]] = value_list[i]
    
print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5, 'atk': 4, 'def': 3}

In [134]:
key_list = ["name", "hp", "mp", "level", "atk", "def"]
value_list = ["기사", 200, 30, 5, 4, 3]
character = dict()

character = {key_list[i]: value_list[i] for i in range(len(key_list))}

print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5, 'atk': 4, 'def': 3}

In [192]:
# 13. 리스트의 각 숫자가 몇 번 등장하는지 출력하는 코드 작성하기

numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]

counter = dict()

for i in numbers:
    counter[i] = numbers.count(i)
    
print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [193]:
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]

counter = dict()

counter = {i : numbers.count(i) for i in numbers}

print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [194]:
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]

counter = dict()

for i in set(numbers):
    counter[i] = numbers.count(i)
    
print(counter)

{1: 3, 2: 4, 3: 3, 4: 3, 5: 2, 6: 1, 7: 2, 8: 2, 9: 3}

In [195]:
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]

counter = dict()

counter = {i : numbers.count(i) for i in set(numbers)}

print(counter)

{1: 3, 2: 4, 3: 3, 4: 3, 5: 2, 6: 1, 7: 2, 8: 2, 9: 3}

In [196]:
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]

counter = dict()

for i in numbers:
    if i not in counter:
        counter[i] = numbers.count(i)
    
print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [197]:
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]

counter = dict()

counter = {i : numbers.count(i) for i in numbers if i not in counter}

print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [198]:
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]

counter = dict()

for i in numbers:
    if i not in counter:
        counter[i] = 1
        
    else:
        counter[i] += 1
        
print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [200]:
# 위 코드를 get() 메서드로 개선

numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]

counter = dict()

for i in numbers:
    counter[i] = counter.get(i, 0) +1
    
print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}