# 기본 자료형

|구분|자료형|변환함수|의미|
| :-- | :--: | --: | :--|
| int | 정수 | int(n) | n을 정수로 변환 |
| float | 실수 | float(n) | n을 실수로 변환 |
| bool | 논리 | bool(n) | n을 논리로 변환 |
| str | 문자열 | str(n) | n을 문자열로 변환 |

:-- 왼쪽 정렬
:--: 중앙 정렬
--: 오른쪽 정렬

## 정수 (int)

In [4]:
age = 25
print(type(age))
#type = 자료형의 구분을 확인하는 명령어

<class 'int'>

### 다른 자료형의 값을 정수형 데이터로 변환

In [17]:
print(int(1.9))
#소숫점은 표기하지 않음
print(int(True))
print(int(False))
print(int("100"))
#""으로 감싼 문자는 숫자더라도 계산할 수 없는 문자열이다

1
1
0
100

## 실수형 (float)

In [18]:
height = 168.5
print(type(height))

<class 'float'>

### 다른 자료형의 값을 실수형 데이터로 변환

In [24]:
print(float(1))
print(float(True))
print(float(False))
print(float("3.14"))
print(float("100"))

1.0
1.0
0.0
3.14
100.0

## 논리형 (bool)

- 참과 거짓을 표현하는 True, False 값을 가짐
- 영국으 수학자 조지 불(George Boole)이 만듦

In [26]:
print(bool(0))
print(bool(""))

False
False

In [31]:
print(bool(1))
print(bool("hello"))
# 문자열의 경우 입력된 내용이 있는가 없는가를 구분하게됨
# 스페이스바라도 입력한 경우 True 값을 출력

True
True

### 비교 연산자의 판단 결과를 표현

In [36]:
print(3 > 1)
print(3 < 1)

True
False

### 같은지 다른지 비교

In [35]:
# 같은지 비교
print(10 == 10)
print(10 == 20)

True
False

In [37]:
# 구분 비교, 둘이 다른지 비교
print(10 != 10)
print(10 != 20)

# python 에서 대체로 ! 는 "not"의 의미를 갖는 경우가 많다

False
True

In [38]:
#대/소문자를 구분한다
print("Python" == "Python")
print("Python" == "python")

True
False

## 문자열 (str)

- 기본적으로 따옴표(" ",' ')로 묶어서 사용
- 작은 따옴표('' )와 큰 따옴표(" ") 모두 사용 가능
- 삼중 따옴표(''' ''', """ """) 모두 사용 가능
- str = string
- 굉장히 범용적인 데이터라 대부분의 데이터를 문자열로 변환 가능
    - 이미지 파일도 문자열로 변환 가능... 픽셀단위로

In [39]:
name = "Alice"
print(type(name))

<class 'str'>

In [40]:
print(str(100))
print(str(True))
print(str(False))
print(str(3.14))

100
True
False
3.14

### 문자열 인덱싱(indexing)

- 문자열 인덱싱 : 문자열을 구성하는 모든 문자에 부여한 고유 번호
- 몇 번째 자리에 있는지를 정의하는 번호
    예시) Hello
        0 = H
        1 = e
        2 = l
        3 = l
        4 = o
- 인덱스 번호는 시작이 0이다

* 인덱싱 / 슬라이싱은 문자열뿐만 아니라 다른 영역에서도 자주 사용하는 문법

In [41]:
s = "hello"

In [44]:
print(s[0])

# s의 0번째 자리에 있는 값

h

인덱싱에선 음수값을 사용할 수 있음

역순으로 한다는 의미...

음수값은 "-0"이란 개념이 없기 때문에 "-1"에서 시작한다

In [45]:
print(s[-1])

o

In [47]:
print(s[4] == s[-1])

True

### 문자열 슬라이싱(slicing)

- 표현법 : 데이터[시작인덱스 : 종료 인덱스 : 증감값]
- 인덱싱이 특정 순서의 문자를 가져온다면 슬라이싱은 구간을 정하여 가져오는 문법
- 대부분의 경우 증감값은 생략하고 [시작 인덱스 : 종료 인덱스]의 형태로 사용
- 주의할 점은 종료 인덱스 값은 포함하지 않는다는 것...
- 증감값은 입력하지 않을 경우 기본 값을 1로 한다

In [2]:
s = "banana"

In [3]:
print(s[0:3])
print(s[0:5:2])

ban
bnn

In [5]:
# 시작 인덱스를 생략할 경우 자동으로 0이 입력된다

print(s[:3])

# 종료 인덱스를 생략할 경우 종료할 수 있는 가장 끝이 된다

ban

# 실습

1. 휴대폰 번호 가운데 4자리를 추출
2. 31025 를 학년, 반, 번호로 나누어 출력

In [66]:
# 1. 휴대폰 번호 가운데 4자리를 추출
number = "010-1234-5678"

In [68]:
print(number[4:8])

1234

In [72]:
# 2. 31025를 학년, 반, 번호로 나누어 출력
q2 = "31025"
# 3학년 10반 25번

In [76]:
grade = q2[0]
group = q2[1:3]
no = q2[3:5]

print(grade, "학년", group, "반", no, "번")

print(q2[0:1])
print(q2[1:3])
print(q2[3:5])

3 학년 10 반 25 번
3
10
25