# 컬렉션

- 여러 값을 하나의 이름으로 묶어서 관리하는 자료형
- 가장 활용도가 높은 것은 리스트

| 컬렉션 | 생성 함수 | 특징 | 예시 |
| :-- | :-- | :-- | :-- |
| 리스트 | list() | 추가, 수정, 삭제가 언제나 가능 | a = [1 ,2 ,3] |
| 튜플 | tuple() | 생성되고 나면 변경 불가능 | a = (1, 2, 3)|
| 세트 | set() | 중복된 값의 저장 불가능 | a = {1, 2, 3) |
| 딕셔너리 | dict() | 키 + 값으로 관리 | a = {"age" : 25} | 

- 이 중에서 저장된 값들의 순서가 있는 컬렉션을 시퀀스(sequence)라고 부름
    - 시퀀스 : 리스트, 튜플

## 리스트

- 여러 값을 저장할 때 가장 많이 사용하는 자료형
- 저장하려는 값들의 자료형이 서로 다르더라도 하나의 리스트로 저장할 수 있음

In [1]:
# 리스트 생성

li = [100, 3.14, "hello" ]
print(li)

[100, 3.14, 'hello']

In [5]:
# range() : 연속된 숫자 생성 - 일정한 수열을 만들어낼 때 사용
# 풀함수는 range(시작값, 종료값, 증감값) 하지만 일부 생략 가능
# 값이 1개만 입력된 경우, 종료값으로 판단한다. 시작 값은 0, 증감값은 1
# 값이 2개만 입력된 경우, 시작값과 종료값으로 판단한다. 증감값은 1
# 종료값 없이는 range() 함수를 사용할 수 없다
# 종료값은 포함되지 않는다.
# range 내에는 정수만 입력할 수 있다. 음수값은 넣을 수 있다.

list(range(0,10,1))
list(range(0,10))
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(-4,10,2))

[-4, -2, 0, 2, 4, 6, 8]

In [8]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [17]:
# range()를 이용하여 [5, 3, 1, -1, -3, -5, -7, -9] 를 출력

list(range(5, -10, -2))

[5, 3, 1, -1, -3, -5, -7, -9]

### 리스트의 인덱싱(indexing) 과 슬라이싱 (slicing)

In [20]:
# 인덱싱

print(li[0])
print(li[1])
print(li[2])

100
3.14
hello

In [25]:
# 슬라이싱

li = [10, 20, 30, 40, 50]
li[:]

[10, 20, 30, 40, 50]

### 리스트 요소의 추가와 삭제

- 새로운 요소 추가 : append(), insert()
- 기존 요소 삭제 : pop(), del()

In [39]:
scores = [50, 40, 30]
scores

[50, 40, 30]

### append는 값을 가장 마지막에 추가한다.

In [40]:
scores.append(100)
scores

[50, 40, 30, 100]

### insert는 원하는 인덱스에 값을 추가하고 다른 값을 뒤로 밀어냄

In [41]:
scores.insert(0,90)
scores

[90, 50, 40, 30, 100]

### pop은 리스트의 특정한 요소를 제거 (인덱스 미입력 시 -1)

In [42]:
scores.pop()

100

In [43]:
scores

[90, 50, 40, 30]

In [44]:
# 특정 인덱스의 요소를 제거 후 제거한 요소를 표시
scores.pop(0)

90

In [45]:
scores

[50, 40, 30]

In [46]:
# 인덱스가 n인 값을 제거 (꼭 입력해야함)
del scores[0]

In [47]:
scores

[40, 30]

## 튜플

- 지정된 값을 변경할 수 없는 리스트
- 리스트와 인덱싱, 슬라이싱 가능하지만 값의 추가, 수정, 삭제가 불가능
- 표현법 : 소괄호() 또는 tuple() / 사실 본체는 , 표시...?

In [52]:
#t4 빼고는 전부 튜플로 인정되는 양식
#t3는 리스트 양식을 튜플 양식으로 변환

t1 = (1, 2, 3)
t2 = 1, 2, 3
t3 = tuple([100, 3.14, "hello"])
t4 = (100)
t5 = (100,)

In [53]:
print(t1)
print(type(t1))

(1, 2, 3)
<class 'tuple'>

In [54]:
print(t2)
print(type(t2))

(1, 2, 3)
<class 'tuple'>

In [55]:
print(t3)
print(type(t3))

(100, 3.14, 'hello')
<class 'tuple'>

In [56]:
print(t4)
print(type(t4))

100
<class 'int'>

In [57]:
print(t5)
print(type(t5))

(100,)
<class 'tuple'>

## 시퀀스 자료의 공통 기능

- 시퀀스 : 리스트, 튜플, range, 문자열

### 특정 값이 있는지 확인

- 값 in 시퀀스객체
- 값 not in 시퀀스 객체

In [58]:
a = [0, 10, 20, 30, 40, 50, 60, 70 ,80 ,90]
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [59]:
30 in a

True

In [60]:
100 in a

False

In [62]:
30 not in a

False

In [63]:
100 not in a

True

### 시퀀스 객체 연결

- 시퀀스 객체는 + 연산자를 이용하여 연결할 수 있다
    - 단 range는 연결되지 않음
        - range를 연결할고자 한다면 리스트 혹은 튜플로 바꾸어서 연결
- 해당 기능을 통해 연결하더라도 기존의 시퀀스 객체가 변경되는 것은 아니다

In [64]:
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]

In [65]:
a + b

[0, 10, 20, 30, 9, 8, 7, 6]

In [72]:
tuple(range(10)) + tuple(range(10,20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [73]:
"Hello, " + "World!"

'Hello, World!'

### 시퀀스 객체 반복

- \* 연산자 : 시퀀스 객체를 특정 횟수만큼 반복

In [74]:
"Hello " * 3

'Hello Hello Hello '

### 시퀀스 객체의 요소 개수 구하기

- len() : 요소의 개수(길이)를 구하는 함수

In [75]:
a = [0, 10, 20, 30, 40, 50, 60 ,70 ,80 ,90]
len(a)

10

### 요소에 값 할당

- .[.]. 로 요소에 접근한 뒤 = 로 할당
- 시퀀스객체.[인덱스]. = 값

In [76]:
a = [0, 0, 0, 0, 0]

In [77]:
a[0] = 38

In [78]:
a

[38, 0, 0, 0, 0]

In [79]:
a[1] = 25
a[2] = 50
a[3] = 40
a[4] = 12

In [80]:
a

[38, 25, 50, 40, 12]

In [164]:
# 1. 문자열 "maple" 의 가운데 글자를 출력
s = "maple"

In [165]:
len(s)

5

In [166]:
count=len(s)//2
count

2

In [167]:
print(s[count])

p

In [133]:
# 2. 리스트 [0, 10, 20, 30,40 ,50, 60 ,70 ,80 ,90 ,100]의 세번째부터 일곱번째
# 요소까지만 추출한 결과 리스트에서 두번째 요소를 출력

q2 = [0, 10, 20, 30, 40 ,50 ,60 ,70 ,80 ,90 ,100]

In [134]:
q21 = q2[2:7]

In [135]:
print(q21[1])

30

In [170]:
print(q2[2:7][1])

#q2[2:7]을 하나의 리스트로 보고 그거의 1번 인덱스 값을 가져오기...!

30

## 세트

- 수학의 집합 개념을 구현한 자료형
- 순서가 없기 때문에 인덱싱, 슬라이싱 불가
- 중복 제거, 교집합, 합집합, 차집합 개념이 필요한 경우에 사용
- 표현법 : 중괄호 {} 또는 set()
    - 빈 중괄호를 입력하면 빈 딕셔너리가 생성된다
    - 빈 세트를 생성하고자 한다면 set()를 통해서 생성해야 한다

In [171]:
s = {}
print(type(s))

<class 'dict'>

In [172]:
s = set()
print(type(s))

<class 'set'>

### 세트의 특징

1. 순서가 없음
2. 중복된 값을 저장할 수 없음

In [177]:
# 리스트의 중복 제거
li = [3, 3, 2, 2, 1, 1]

In [178]:
set(li)

{1, 2, 3}

### 세트 요소의 추가와 삭제

- 추가 : add()
- 삭제 : remove(), discard()

In [179]:
s = {10, 20, 30}
s.add(40) # s 세트에 40을 추가

In [180]:
s

{10, 20, 30, 40}

In [182]:
# 세트에서 요소를 제거, 찾는 요소가 없으면 에러 발생
s.remove(20)

In [183]:
s

{10, 30, 40}

In [186]:
# 세트에서 요소를 제거, 찾는 요소가 없더라도 에러 미발생
s.discard(30)

In [187]:
s

{10, 40}

### 세트에 특정 값이 있는지 확인하기

- 표현법 : 값 in 세트
    - 특정 값이 없는지 확인 : 값 not in 세트

In [188]:
10 in s

True

In [189]:
30 in s

False

In [190]:
10 not in s

False

In [191]:
30 not in s

True

### 집합 연산 사용하기

In [193]:
# 합집합  "|" 에는 or이라는 의미가 있다

a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

a | b

{1, 2, 3, 4, 5, 6}

In [194]:
# 교집합

a & b

{3, 4}

In [195]:
# 차집합

a - b

{1, 2}

### 딕셔너리

- 사전을 의미하며, 사전과 마찬가지로 "키"와 "값"을 "단어"와 "단어의 의미"처럼 사용
- 표현법 : dict{키1 : 값1, 키2 : 값2, 키3 : 값3 ......)

In [199]:
# 딕셔너리 생성
d = {"a" : "apple", "b" : "banana"}
d

{'a': 'apple', 'b': 'banana'}

In [200]:
type(d)

dict

In [206]:
d["a"]

#딕셔너리는 인덱스 대신 키를 사용하는 개념
#존재하지 않는 키를 조회하고자 하면 에러 발생

'apple'

In [205]:
d["b"]

'banana'

In [207]:
# 딕셔너리를 생성하는 방법
d = dict(a = "apple", b = "banana")
d

{'a': 'apple', 'b': 'banana'}

### 딜셔너리 요소의 추가와 삭제

In [221]:
dic = {"apple" : "사과"}

In [222]:
dic["watermelon"] = "멜론"

In [223]:
dic

{'apple': '사과', 'watermelon': '멜론'}

In [226]:
# 딕셔너리 요소 수정
# 중복을 허용하지 않기 때문에 자동으로 덮어씌우는 개념
dic["watermelon"] = "수박"

In [225]:
dic

{'apple': '사과', 'watermelon': '수박'}

In [233]:
# 한번에 여러개의 값을 수정하는 명령어
# update() : 키의 값 수정, 해당 키가 없으면 키-값 추가
# 개념적으로는 기존 딕셔너리에 새로운 딕셔너리의 내용을 추가/수정 하는 개념

me = {"name" : "james"}

In [234]:
me

{'name': 'james'}

In [235]:
me.update(age = 25) # age를 25로 추가

In [236]:
me

{'name': 'james', 'age': 25}

In [237]:
me.update(age = 35, adress = "seoul")

In [238]:
me

{'name': 'james', 'age': 35, 'adress': 'seoul'}

In [239]:
# 딕셔너리 요소 삭제

me.pop("adress")

'seoul'

In [240]:
me

{'name': 'james', 'age': 35}

### 딕셔너리에 키가 있는지 확인하기

- 표현법 : 키 in 딕셔너리
- 해당 연산자를 통해서는 키만 확인 가능하며 값은 다른 방식으로 시도해야 함

In [242]:
"name" in me

True

In [243]:
"james" in me

False

In [244]:
"adress" in me

False