# 표준 출력

## 이스케이프 문자

- \n : 줄바꿈
- \t : 탭
- \\' : 작은 따옴표
- \\" : 큰 따옴표

In [5]:
print("Hello, \"World!\"")

Hello, "World!"

In [6]:
print("*")
print("**")
print("***")

*
**
***

In [7]:
print("*\n**\n***")

*
**
***

In [8]:
print("이름\t연락처")

이름	연락처

## print() 함수

- print(*args, sep=' ', end='\n', file=None, flush=False)
    - *args : 출력할 대상들
    - sep : 출력할 값의 구분자
    - end : 값을 출력한 후 출력할 문자

In [13]:
print("Python", "Java", "C")
print("Python", "Java", "C", sep = "|")
print("Python", "Java", "C", sep = "\t")

Python Java C
Python|Java|C
Python	Java	C

In [17]:
print("영화 타이타닉")
print("평점", end = ":")
print("5점")

영화 타이타닉
평점:5점

# 형식을 갖춘 문자열

- 문자열 포매팅(string formatting)
- % 연산자, format() 메소드 등의 명렁어를 이용해 원하는 형식의 문자열을 만드는 것

## %연산자

- %d : 정수(10진수)
- %f : 실수
- %s : 문자열

In [21]:
print("가%d나" %10)

가10나

In [44]:
print("%f"%3.14)
print("%.2f"%3.14)

3.140000
3.14

In [33]:
print("%s"%"python")

python

In [37]:
print("%d %d" %(10, 20))

10 20

In [38]:
print("%s %s" %(10, 3.14))

10 3.14

### 활용법

In [39]:
name = "Jun"
print("내 이름은 %s입니다" %name)

내 이름은 Jun입니다

In [42]:
height = 174.9
weight = 77.15
print("내 키는 %.1fcm입니다. 내 몸무게는 %.2fkg입니다."%(height, weight))

내 키는 174.9cm입니다. 내 몸무게는 77.15kg입니다.

## format() 메소드

- 함수의 인수로 변수나 값을 표시하고, 해당 값이 표시될 위치를 중괄호({})로 표시

In [49]:
print("Breakfast is {} and {}" .format("banana", "protein"))

Breakfast is banana and protein

In [50]:
print("My name is {}" .format(name))
print("My name is {0}" .format(name))     #들어가는 순서를 지정할 수 있음
print("My name is {name}" .format(name = "James"))

My name is Jun
My name is Jun
My name is James

In [53]:
print("My name is {name}. I am {age} years old" .format(name = "James", age = 25))

My name is James. I am 25 years old

## f-strings

- format()과 유사하지만 가독성이 뛰어나고 속도가 가장 빠르다
- 파이선 3.6버전 이후로 지원하는 기능 (현재는 최신버전 3.10~11 사용중...?)
- 중괄호 내부에서 연산자의 사용이나 함수의 호출도 가능

In [6]:
who = "you"
how = "happy"

In [7]:
print(f"{who} make me {how}")

you make me happy

In [9]:
age = 25
print(f"올해는 {age}살입니다. 내년에는 {age + 1}살이 됩니다.")

올해는 25살입니다. 내년에는 26살이 됩니다.

# 표준입력

## input() 함수

- 키보드로부터 값을 입력받을 때 사용
- 모든 입력을 문자열로 저장함

In [12]:
n = input("")

20

In [13]:
print(n)

20

In [15]:
print(n)

20

In [16]:
name = input("이름을 입력하세요 : ")
age = input("나이를 입력하세요 : ")

이름을 입력하세요 : 홍길동
나이를 입력하세요 : 30

In [17]:
print(f"입력된 이름은 {name}입니다. \n입력된 나이는 {age}살 입니다.")

입력된 이름은 홍길동입니다.
입력된 나이는 30살 입니다.

## 형 변환

In [18]:
n

'20'

In [19]:
print(type(n))

<class 'str'>

In [20]:
int(n)

20

In [22]:
n = int(input("정수 입력 : "))

정수 입력 : 5

In [23]:
print(type(n))

<class 'int'>

In [31]:
# 예제
price = 50000
n = int(input("할부 개월 입력 : "))
print(f"매달 내는 돈은 {price / n}원 입니다.")

할부 개월 입력 : 10
매달 내는 돈은 5000.0원 입니다.