In [219]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from tqdm import tqdm
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

### 사용 함수

In [2]:
def average_angle_ignore_nan(degrees):
    """
    주어진 각도의 리스트에서 NaN 값을 무시하고 평균을 계산합니다.
    
    :param degrees: 각도의 리스트 (0-360도)
    :return: 평균 각도 (0-360도)
    """
    # NaN 값을 무시하고 유효한 각도만 선택
    valid_degrees = [deg for deg in degrees if not pd.isna(deg)]
    
    if not valid_degrees:
        return np.nan  # 유효한 각도가 없는 경우 NaN 반환
    
    # 유효한 각도를 라디안으로 변환
    radians = np.deg2rad(valid_degrees)
    
    # x, y 좌표 계산
    x_coords = np.cos(radians)
    y_coords = np.sin(radians)
    
    # x, y 좌표의 평균 계산
    x_mean = np.mean(x_coords)
    y_mean = np.mean(y_coords)
    
    # 평균 좌표를 각도로 변환
    mean_rad = np.arctan2(y_mean, x_mean)
    mean_deg = np.rad2deg(mean_rad)
    
    # 결과를 0-360도 사이의 값으로 변환
    mean_deg = mean_deg % 360
    
    return mean_deg

In [3]:
def horizontal_average(dataframe, datetime, column, threshold = 3, digits = 1):
    '''
    동일한 시간의 여러 지점 데이터를 확인한 후 해당 데이터들의 평균값을 반환하는 함수
    threshold 값을 입력하여 허용하는 NaN 값의 최대치를 설정할 수 있음
    '''  
    # 입력된 일시와 컬럼명에 해당하는 데이터 변수화
    data = dataframe.loc[datetime, column]
    
    # 임시로 nan값 입력
    mean = np.nan
    
    # data에 NaN값의 수가 threshold를 초과하는지 확인
    if data.isna().sum() <= threshold:
        # nan값을 제외한 값으로만 리스트 생성
        value_list = [i for i in data if not pd.isna(i)]
        
        # 평균값 산출 이후 반올림
        mean = np.mean(value_list)
        mean = round(mean, digits)
               
    return mean

In [211]:
# 연속된 True 값을 계산하는 함수
def calculate_consecutive_trues(series):
    n = len(series)
    result = [0] * n
    count = 0

    # 첫 번째 패스: 연속된 True의 그룹 길이를 계산
    for i in range(n):
        if series[i]:
            count += 1
        else:
            count = 0
        result[i] = count

    # 두 번째 패스: 그룹의 마지막 True 값에 그룹의 전체 길이를 설정
    final_result = [0] * n
    i = 0
    while i < n:
        if result[i] > 0:
            length = result[i]
            for j in range(length):
                final_result[i - j] = length
            i += length
        else:
            i += 1

    return final_result

In [4]:
ws_df = pd.read_csv("C:/Users/ITSC/Documents/2015~2024_국내해양데이터_전처리.csv")

In [5]:
# 중복되는 컬럼 제거
ws_df = ws_df.drop(["Unnamed: 1", "지점.1"], axis = 1)

In [6]:
ws_df.head()

,지점,일시,풍속(m/s),풍향(deg),GUST풍속(m/s),현지기압(hPa),습도(%),기온(°C),수온(°C),최대파고(m),유의파고(m),평균파고(m),파주기(sec),파향(deg)
0,21229,2015-01-01 00:00:00,6.3,336.0,11.9,1010.7,96.0,0.2,13.5,3.0,2.3,1.7,7.1,147.0
1,21229,2015-01-01 01:00:00,12.1,302.0,18.1,1012.6,96.0,0.2,13.5,3.4,2.7,1.9,7.1,185.0
2,21229,2015-01-01 02:00:00,10.7,288.0,14.7,1012.1,96.0,-0.2,13.5,3.5,2.7,1.9,6.4,202.0
3,21229,2015-01-01 03:00:00,11.0,295.0,17.8,1011.8,84.0,1.1,13.5,3.9,2.6,1.8,7.1,179.0
4,21229,2015-01-01 04:00:00,14.1,298.0,23.3,1011.6,95.0,0.4,13.5,3.9,3.5,2.5,7.1,189.0

### 데이터가 충분하지 않은 지점 제거

In [7]:
# 지점별 데이터 수량 확인
ws_df["지점"].value_counts()

지점
22103    79498
22105    79260
22108    76963
22106    76554
21229    75906
22104    75547
22183    74904
22102    74660
22101    73749
22107    71270
22184    70080
22187    69530
22188    68417
22190    67878
22189    66444
22185    62970
22186    62312
22192    34198
22298    33010
22191    31594
22297    31348
22300    29496
22299    28473
22301    22780
22302    22434
22303    22390
22304    11813
22305     8474
22309     4335
22310     3984
22311     3967
22193     2322
22194     2321
Name: count, dtype: int64

- 15년 1월 1일부터 24년 5월 19일까지는 3426일, 시간으로는 최대 82224개의 데이터가 존재할 수 있음
- 7만개 이하의 데이터 수량을 가진 지점들을 확인해본 결과 첫 관측 날짜가 15년 1월 1일이 아닌 것이 확인됨
- 15년 1월 1일부터 관측을 시작하지 않은 지점은 데이터에서 제외하기로 결정
    - 결과적으로 11개의 지점만 남기기로 함
    - 동일한 기준으로 중국, 한국 기상데이터도 지점을 제거할 예정

In [8]:
# 데이터 수량이 7만개 이상인 지점 번호만 리스트로 저장
keep_loc = ws_df["지점"].value_counts()[:11]

In [9]:
# keep_loc 에 지점이 포함된 데이터만 남기기
ws_df2 = ws_df[ws_df["지점"].map(lambda x: x in keep_loc)]

In [10]:
# 컬럼 명칭 수정, 괄호 안의 단위 제거
ws_df2.columns = ['지점', '일시', '풍속', '풍향', 'GUST풍속', '현지기압', '습도', '기온', '수온', '최대파고', '유의파고', '평균파고', '파주기', '파향']

In [11]:
# 일시 피처를 datetime 타입으로 변환
ws_df2["일시"] = ws_df2["일시"].map(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))

C:\Users\ITSC\AppData\Local\Temp\ipykernel_9464\1425953076.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ws_df2["일시"] = ws_df2["일시"].map(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))

In [12]:
ws_df2 = ws_df2.iloc[:, :-6]

In [13]:
ws_pivot = ws_df2.pivot(index = ["일시"], columns = ["지점"], values = ws_df2.columns[2:])

### 3시간 단위의 데이터프레임 생성

In [15]:
# 15년 1월 1일부터 24년 5월 19일까지 3시간 단위의 시간 리스트 생성
start_time = ws_df2["일시"].min()
time_list = [start_time + (i * timedelta(hours = 3)) for i in range(0, 3427*8)]

In [16]:
# 시간별로 데이터프레임 생성
time_df = pd.DataFrame(time_list)
time_df.columns = ["일시"]

In [179]:
# time_df가 ws_pivot과 동일한 인덱스와 컬럼을 지니도록 변경
for i in ws_pivot.columns:
    time_df[i] = np.nan
    
time_df = time_df.set_index("일시")
time_df.columns = ws_pivot.columns

In [182]:
# 3시간 단위로 평균값을 구한 후 time_df에 입력. 풍향은 예외
for i in tqdm(time_df.index):
    for j in time_df.drop("풍향", axis = 1).columns:
        # 각각 3개의 시간을 지정
        time0 = i
        time1 = i - timedelta(hours = 1)
        time2 = i - timedelta(hours = 2)
        
        # 3개의 값을 하나의 리스트에 담기
        value_list = []
        
        for time in [time0, time1, time2]:
            try:
                value = ws_pivot.loc[time, j]
                
            except:
                value = np.nan
                
            value_list.append(value)
        
        # nan값이 아닌 데이터로만 이루어진 value_list2
        value_list2 = [i for i in value_list if i != np.nan]
        mean = np.nan
        
        if len(value_list2) != 0:
            mean = np.mean(value_list2)
        
        # 입력
        time_df.loc[i, j] = mean

100%|████████████████████████████████████████████████████████████████████████████| 27408/27408 [15:26<00:00, 29.59it/s]

In [188]:
# 반올림 처리. 습도는 소수점 없이 기존 양식 유지
time_df["풍속"] = time_df["풍속"].apply(lambda x: round(x, 1))
time_df["GUST풍속"] = time_df["GUST풍속"].apply(lambda x: round(x, 1))
time_df["현지기압"] = time_df["현지기압"].apply(lambda x: round(x, 1))
time_df["습도"] = time_df["습도"].apply(lambda x: round(x, 0))
time_df["기온"] = time_df["기온"].apply(lambda x: round(x, 1))

In [192]:
# 15년 1월 1일 데이터 입력
time_df.iloc[0, :] = ws_pivot.iloc[0, :]

In [280]:
# 저장
time_df.to_csv("./wsea_weather_3h.csv")

### 풍향을 제외한 피처들의 수평 평균으로 결측치 제거

In [328]:
column = "기온"

for time in tqdm(time_df.index):
    mean = horizontal_average(time_df, time, column)
    time_df.loc[time, column] = time_df.loc[time, column].fillna(mean).tolist()

100%|███████████████████████████████████████████████████████████████████████████| 27416/27416 [00:46<00:00, 594.45it/s]

In [330]:
column = "풍속"

for time in tqdm(time_df.index):
    mean = horizontal_average(time_df, time, column)
    time_df.loc[time, column] = time_df.loc[time, column].fillna(mean).tolist()

100%|███████████████████████████████████████████████████████████████████████████| 27416/27416 [00:47<00:00, 580.68it/s]

In [332]:
column = "현지기압"

for time in tqdm(time_df.index):
    mean = horizontal_average(time_df, time, column)
    time_df.loc[time, column] = time_df.loc[time, column].fillna(mean).tolist()

100%|███████████████████████████████████████████████████████████████████████████| 27416/27416 [00:48<00:00, 565.31it/s]

In [338]:
column = "습도"

for time in tqdm(time_df.index):
    mean = horizontal_average(time_df, time, column, digits = 0)
    time_df.loc[time, column] = time_df.loc[time, column].fillna(mean).tolist()

100%|███████████████████████████████████████████████████████████████████████████| 27416/27416 [00:45<00:00, 608.13it/s]

In [334]:
column = "GUST풍속"

for time in tqdm(time_df.index):
    mean = horizontal_average(time_df, time, column)
    time_df.loc[time, column] = time_df.loc[time, column].fillna(mean).tolist()

100%|███████████████████████████████████████████████████████████████████████████| 27416/27416 [00:46<00:00, 583.68it/s]

### 풍향 데이터 3시간 단위로 평균낸 후 time_df에 입력

In [48]:
# 3시간 단위로 평균값을 구한 후 time_df에 입력. 풍향만
for i in tqdm(time_df.index):
    for j in time_df["풍향"].columns.astype(int):
        # 각각 3개의 시간을 지정
        time0 = i
        time1 = i - timedelta(hours = 1)
        time2 = i - timedelta(hours = 2)
        
        # 3개의 값을 하나의 리스트에 담기
        value_list = []
        
        for time in [time0, time1, time2]:
            try:
                value = ws_pivot["풍향"].loc[time, j]
                
            except:
                value = np.nan
                
            value_list.append(value)
        
        # nan값이 아닌 데이터로만 이루어진 value_list2
        value_list2 = [i for i in value_list if i != np.nan]
        mean = np.nan
        
        if len(value_list2) != 0:
            mean = average_angle_ignore_nan(value_list2)
        
        # 입력
        time_df.loc[i, ("풍향", str(j))] = mean

100%|████████████████████████████████████████████████████████████████████████████| 27416/27416 [06:25<00:00, 71.12it/s]

### 풍향 데이터 결측치 처리

In [102]:
for time in tqdm(time_df.index):
    # 각 시간대별 데이터 지정
    data = time_df.loc[time, "풍향"]
    # 데이터에서 na값의 인덱스를 시리즈로 저장
    na_index = data[data.isna()].index
    
    # 각 데이터의 결측치가 3개 이하일 때 진행
    if len(na_index) <= 3:
        # nan값을 제외한 나머지 각도들의 평균 산출
        mean = average_angle_ignore_nan(data)
        # 결측치 평균값으로 대체
        for idx in na_index:
            time_df.loc[time, ("풍향", idx)] = mean

100%|██████████████████████████████████████████████████████████████████████████| 27416/27416 [00:15<00:00, 1747.07it/s]

In [113]:
# 풍향 데이터 값을 10단위로 변경
time_df["풍향"] = time_df["풍향"].apply(lambda x: round(x, -1))

In [122]:
# 풍향 데이터 값 중 360을 0으로 변경
time_df["풍향"] = time_df["풍향"].map(lambda x: 0 if x == 360 else x)

In [124]:
# 저장 및 다시 읽어들이기
time_df.to_csv("./wsea_weather_3h.csv")
time_df = pd.read_csv("./wsea_weather_3h.csv", header = [0, 1], index_col = 0)
time_df.index = time_df.index.map(lambda x: datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))
time_df.head()

                       풍속                                                  \
지점                  21229 22101 22102 22103 22104 22105 22106 22107 22108
일시
2015-01-01 00:00:00   6.3  12.8  14.6  14.4   9.9  11.9  12.2  14.0  15.9
2015-01-01 03:00:00  11.0  12.0  14.0  13.0  10.0  13.0  12.5  14.0  13.0
2015-01-01 06:00:00  14.0  12.0  13.0  14.0  11.0  13.0  13.1  15.0  14.0
2015-01-01 09:00:00  12.0  12.0  15.0  14.0  12.0  13.0  12.6  10.0  14.0
2015-01-01 12:00:00  12.0  10.0  13.0  14.0  12.0  13.0  12.3  14.0  13.0

                           ...    기온                                      \
지점                  22183  ... 22101 22102 22103 22104 22105 22106 22107
일시                         ...
2015-01-01 00:00:00   7.5  ...   3.1   1.7   3.2   2.8   2.8   2.0   7.1
2015-01-01 03:00:00  10.0  ...   3.5   0.4   2.4   1.5   0.6   1.7   6.3
2015-01-01 06:00:00  11.0  ...   4.4   0.8   1.4  -0.0  -0.9   1.3   5.8
2015-01-01 09:00:00  11.0  ...   5.0   0.5   1.1  -1.3  -0.8   0.8   5.8
2015-01-01 12:00:00  10.0  ...   5.0   0.6   1.2  -0.8  -0.7   0.9   5.2


지점                  22108 22183 22184
일시
2015-01-01 00:00:00  -0.5   0.3   5.2
2015-01-01 03:00:00  -2.1  -0.2   4.5
2015-01-01 06:00:00  -1.3   0.2   2.2
2015-01-01 09:00:00  -1.7  -0.8   0.8
2015-01-01 12:00:00  -2.0   0.4   0.9

[5 rows x 66 columns]

### 추가 결측치 처리

In [126]:
time_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 27416 entries, 2015-01-01 00:00:00 to 2024-05-19 21:00:00
Data columns (total 66 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   (풍속, 21229)      26948 non-null  float64
 1   (풍속, 22101)      26961 non-null  float64
 2   (풍속, 22102)      26903 non-null  float64
 3   (풍속, 22103)      27168 non-null  float64
 4   (풍속, 22104)      27083 non-null  float64
 5   (풍속, 22105)      27223 non-null  float64
 6   (풍속, 22106)      26999 non-null  float64
 7   (풍속, 22107)      26846 non-null  float64
 8   (풍속, 22108)      26918 non-null  float64
 9   (풍속, 22183)      27032 non-null  float64
 10  (풍속, 22184)      26745 non-null  float64
 11  (풍향, 21229)      27346 non-null  float64
 12  (풍향, 22101)      27333 non-null  float64
 13  (풍향, 22102)      27342 non-null  float64
 14  (풍향, 22103)      27363 non-null  float64
 15  (풍향, 22104)      27365 non-null  float64
 16  (풍향, 22105)      27389 non-null  float64
 17  (풍향, 22106)      27352 non-null  float64
 18  (풍향, 22107)      27330 non-null  float64
 19  (풍향, 22108)      27342 non-null  float64
 20  (풍향, 22183)      27355 non-null  float64
 21  (풍향, 22184)      27325 non-null  float64
 22  (GUST풍속, 21229)  26948 non-null  float64
 23  (GUST풍속, 22101)  26961 non-null  float64
 24  (GUST풍속, 22102)  26903 non-null  float64
 25  (GUST풍속, 22103)  27168 non-null  float64
 26  (GUST풍속, 22104)  27083 non-null  float64
 27  (GUST풍속, 22105)  27223 non-null  float64
 28  (GUST풍속, 22106)  26999 non-null  float64
 29  (GUST풍속, 22107)  26846 non-null  float64
 30  (GUST풍속, 22108)  26918 non-null  float64
 31  (GUST풍속, 22183)  27032 non-null  float64
 32  (GUST풍속, 22184)  26745 non-null  float64
 33  (현지기압, 21229)    26948 non-null  float64
 34  (현지기압, 22101)    26961 non-null  float64
 35  (현지기압, 22102)    26903 non-null  float64
 36  (현지기압, 22103)    27168 non-null  float64
 37  (현지기압, 22104)    27083 non-null  float64
 38  (현지기압, 22105)    27223 non-null  float64
 39  (현지기압, 22106)    26999 non-null  float64
 40  (현지기압, 22107)    26846 non-null  float64
 41  (현지기압, 22108)    26918 non-null  float64
 42  (현지기압, 22183)    27032 non-null  float64
 43  (현지기압, 22184)    26745 non-null  float64
 44  (습도, 21229)      26948 non-null  float64
 45  (습도, 22101)      26961 non-null  float64
 46  (습도, 22102)      26903 non-null  float64
 47  (습도, 22103)      27168 non-null  float64
 48  (습도, 22104)      27083 non-null  float64
 49  (습도, 22105)      27223 non-null  float64
 50  (습도, 22106)      26999 non-null  float64
 51  (습도, 22107)      26846 non-null  float64
 52  (습도, 22108)      26918 non-null  float64
 53  (습도, 22183)      27032 non-null  float64
 54  (습도, 22184)      26745 non-null  float64
 55  (기온, 21229)      26948 non-null  float64
 56  (기온, 22101)      26961 non-null  float64
 57  (기온, 22102)      26903 non-null  float64
 58  (기온, 22103)      27168 non-null  float64
 59  (기온, 22104)      27083 non-null  float64
 60  (기온, 22105)      27223 non-null  float64
 61  (기온, 22106)      26999 non-null  float64
 62  (기온, 22107)      26846 non-null  float64
 63  (기온, 22108)      26918 non-null  float64
 64  (기온, 22183)      27032 non-null  float64
 65  (기온, 22184)      26745 non-null  float64
dtypes: float64(66)
memory usage: 14.0 MB

- 여전히 최대 700개, 최소 20개 가량의 데이터가 결측된 것이 확인됨
- 동일 시간대의 다른 지점 평균으로 결측치 처리는 진행이 완료

### 결측치 처리 2차

- 2차 결측치 처리는 interpolate(linear)로 진행하기로 결정
- 해당 결측치 처리의 대상이 되는 데이터는 3번 연속으로 결측이 발생하지 않은 데이터
- 풍향은 별도로 작업해야함

In [214]:
na_count = [time_df.loc[i, :].isna().sum() for i in time_df.index]

In [220]:
na_11 = [i > 11 for i in na_count]
na_consec = calculate_consecutive_trues(na_11)

In [222]:
time_df["na_count"] = na_count
time_df["na_consec"] = na_consec

In [223]:
time_df.head()

                       풍속                                                  \
지점                  21229 22101 22102 22103 22104 22105 22106 22107 22108
일시
2015-01-01 00:00:00   6.3  12.8  14.6  14.4   9.9  11.9  12.2  14.0  15.9
2015-01-01 03:00:00  11.0  12.0  14.0  13.0  10.0  13.0  12.5  14.0  13.0
2015-01-01 06:00:00  14.0  12.0  13.0  14.0  11.0  13.0  13.1  15.0  14.0
2015-01-01 09:00:00  12.0  12.0  15.0  14.0  12.0  13.0  12.6  10.0  14.0
2015-01-01 12:00:00  12.0  10.0  13.0  14.0  12.0  13.0  12.3  14.0  13.0

                           ...    기온                                      \
지점                  22183  ... 22104 22105 22106 22107 22108 22183 22184
일시                         ...
2015-01-01 00:00:00   7.5  ...   2.8   2.8   2.0   7.1  -0.5   0.3   5.2
2015-01-01 03:00:00  10.0  ...   1.5   0.6   1.7   6.3  -2.1  -0.2   4.5
2015-01-01 06:00:00  11.0  ...  -0.0  -0.9   1.3   5.8  -1.3   0.2   2.2
2015-01-01 09:00:00  11.0  ...  -1.3  -0.8   0.8   5.8  -1.7  -0.8   0.8
2015-01-01 12:00:00  10.0  ...  -0.8  -0.7   0.9   5.2  -2.0   0.4   0.9

                    na_cut na_count na_consec
지점
일시
2015-01-01 00:00:00  False        0         0
2015-01-01 03:00:00  False        0         0
2015-01-01 06:00:00  False        0         0
2015-01-01 09:00:00  False        0         0
2015-01-01 12:00:00  False        0         0

[5 rows x 69 columns]

In [230]:
ws_pivot.shape

(82193, 66)

In [231]:
for i in range(0, 66, 11):
    print(i)

0
11
22
33
44
55

### 결측치 처리 3차

- 결측치 처리 3차는 KNNImputer를 사용하여 처리하기로 하였음
- 범주형 데이터는 어떻게 해야하는지 파악이 필요함
- Standard 혹은 MinMax 스케일러 적용 후 KNNImputer를 적용해야함
    - 스케일링 이후 inverse_transform 기능을 통해 데이터프레임 복원이 가능함
- k 값은 논의가 필요하지만 다음의 후보가 있음
    - 대체로 3
    - 데이터의 크기가 충분하다면 1로도 괜찮을 수 있음