In [1]:
import pandas as pd

# 문제1. vaccine.csv 데이터를 데이터프레임으로 읽기

In [2]:
df = pd.read_csv("./data/vaccine.csv")

In [3]:
df.head()

         date  subject  day1num  day1sum  day1rate  day2num  day2sum  day2rate
0  2021.10.16  9505868    10673  7562283      79.6    66910  6191341      65.1
1  2021.10.15  9505868    14556  7551829      79.4   133580  6124432      64.4
2  2021.10.14  9505868     9609  7536654      79.3    94569  5989111      63.0
3  2021.10.13  9505868     9804  7526430      79.2    77503  5893191      62.0
4  2021.10.12  9505868    17274  7516070      79.1   110204  5814018      61.2

# 문제2. 데이터프레임에서 필요 없는 열을 삭제하기

- 삭제할 열 : day1sum, day1rate, day2sum, day2rate

In [5]:
df.drop(["day1sum", "day1rate", "day2sum", "day2rate"], axis = 1, inplace = True)

In [ ]:
df.head

# 문제3. 데이터프레임의 기초통계량을 확인하기

# 문제4. day1num과 day2num의 월별 평균을 출력하기