In [1]:
hex(16)

'0x10'

In [2]:
hex(17)

'0x11'

In [3]:
hex(22)

'0x16'

In [4]:
hex(31)

'0x1f'

0 = 0

1 = 1

2 = 2

3 = 3

4 = 4

5 = 5

6 = 6

7 = 7 

8 = 8

9 = 9

10 = a

11 = b

12 = c

13 = d

14 = e

15 = f

In [51]:
0x1a4

420

In [6]:
2 ** 10

1024

In [7]:
3 ** 4

81

In [8]:
1.03 ** 5

1.1592740743

In [49]:
years = 0
balance = 100
profit_rate = 1.05

In [50]:
while balance < 200:
    years += 1
    balance *= profit_rate
    
print(years)
print("%.3f"%balance)

15
207.893

In [73]:
li = [2, 10, 3, 5, 7, 5, 6, 8]

In [34]:
def list_minimum(args):
    minimum = args[0]
        
    for i in range(len(args)):
        if args[i] < minimum:
            minimum = args[i]
            
    return(minimum)

In [35]:
list_minimum(li)

2

In [ ]:
li = [2, 10, 3, 5, 7, 5, 6, 8]

In [36]:
def list_maximum(args):
    maximum = args[0]
    
    for i in range(len(args)):
        if args[i] > maximum:
            maximum = args[i]
            
    return(maximum)

In [37]:
list_maximum(li)

10

In [120]:
li = [2, 10, 3, 5, 7, 5, 6, 8]

In [121]:
def sort_list(args, order = "straight"):
    instance_list = []
    instance_remove_list = []
    
    instance_remove_list += args
    
    if order == "straight":
        for _ in range(len(instance_remove_list)):
            instance_list.append(list_minimum(instance_remove_list))
            instance_remove_list.remove(list_minimum(instance_remove_list))
            
    elif order == "reverse":
        for _ in range(len(instance_remove_list)):
            instance_list.append(list_maximum(instance_remove_list))
            instance_remove_list.remove(list_maximum(instance_remove_list))
                       
    return(instance_list)

In [122]:
sort_list(li, "reverse")

[10, 8, 7, 6, 5, 5, 3, 2]

In [123]:
print(li)

[2, 10, 3, 5, 7, 5, 6, 8]

In [125]:
def range_list(a, b, c = 1):
    i = a
    instance_list = []
    while i < b:
        instance_list.append(i)
        i += c
        
    return(instance_list)

In [128]:
range_list(0, 10, 3)

[0, 3, 6, 9]

In [7]:
a = dict()

In [13]:
b = [1 , 2]
type(b)

list

In [8]:
a["name"] = "python"

In [9]:
a[("a",)] = "python"

In [14]:
a[b] = "python"

TypeError: unhashable type: 'list'

In [11]:
a[250] = "python"

In [19]:
input1 = input("첫 번째 숫자를 입력하세요: ")

input2 = input("두 번째 숫자를 입력하세요: ")

total = int(input1) + int(input2)

print(f"두 수의 합은 {total} 입니다")

첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 6
두 수의 합은 9 입니다

In [18]:
print(type(input1))
print(type(input2))
print(type(total))

<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
input_start = input("사용할 기능을 입력하세요 : 1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료")

if input_start =

In [86]:
member = {"ret":"y","data":[{"id":"a","name":"가나다1","age":61,"height":165.4,"weight":60.2},
                            {"id":"b","name":"가나다2","age":32,"height":185.4,"weight":80.3},
                            {"id":"c","name":"가나다3","age":13,"height":145.8,"weight":60.6},
                            {"id":"d","name":"가나다4","age":44,"height":165.7,"weight":44.5},
                            {"id":"e","name":"가나다5","age":85,"height":165.2,"weight":42.3}]}

In [166]:
db = []

In [167]:
class Client:
    def __init__(self, clientid, name, age, height, weight):
        self.clientid = clientid
        self.name = name
        self.age = age
        self.height = height
        self.weight = weight
        
        db.append(self)
        
    def detail(self):
        print(self.clientid, self.name, self.age, self.height, self.weight)

In [168]:
a = Client("a", "가나다1", 61, 165.4, 60.2)
b = Client("b", "가나다2", 32, 185.4, 80.3)
c = Client("c", "가나다3", 13, 145.8, 60.6)
d = Client("d", "가나다4", 44, 165.7, 44.5)
e = Client("e", "가나다5", 85, 165.2, 42.3)

In [163]:
input_id = input("id를 입력하세요 : ")
input_name = input("이름을 입력하세요 : ")
input_age = input("나이를 입력하세요 : ")
input_height = input("신장을 입력하세요 : ")
input_weight = input("몸무게를 입력하세요 : ")

input_id = Client(input_id, input_name, input_age, input_height, input_weight)

In [169]:
print(db)

[<__main__.Client object at 0x000002A5BFE249D0>, <__main__.Client object at 0x000002A5BFE25910>, <__main__.Client object at 0x000002A5BFED0310>, <__main__.Client object at 0x000002A5BFE6E5D0>, <__main__.Client object at 0x000002A5BFE6CF90>]

In [180]:
input_delete = input("삭제하실 id를 입력하세요 : ")

del input_delete

삭제하실 id를 입력하세요 : a

In [192]:
for i in db:
    i.detail()

a 가나다1 61 165.4 60.2
b 가나다2 32 185.4 80.3
c 가나다3 13 145.8 60.6
d 가나다4 44 165.7 44.5
e 가나다5 85 165.2 42.3
sangil0613 황상일2 29 175 70
sangil4234 황상일2 175 70 70

In [196]:
print("1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료")

client_input = input("사용할 기능을 입력하세요 : ")
        
print(client_input)

if client_input == "1":
    input_id = input("id를 입력하세요 : ")
    input_name = input("이름을 입력하세요 : ")
    input_age = input("나이를 입력하세요 : ")
    input_height = input("신장을 입력하세요 : ")
    input_weight = input("몸무게를 입력하세요 : ")

    input_id = Client(input_id, input_name, input_age, input_height, input_weight)

elif client_input == "2":
    input_id = input("id를 입력하세요 : ")
    input_name = input("이름을 입력하세요 : ")
    input_age = input("나이를 입력하세요 : ")
    input_height = input("신장을 입력하세요 : ")
    input_weight = input("몸무게를 입력하세요 : ")

    input_id = Client(input_id, input_name, input_age, input_height, input_weight)

elif client_input == "3":
    input_delete = input("삭제하실 id를 입력하세요 : ")

    del(input_delete)

elif client_input == "4":
    for i in db:
        i.detail()

elif client_input == "0":
    pass

else:
    pass

1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료
사용할 기능을 입력하세요 : 4
4
a 가나다1 61 165.4 60.2
b 가나다2 32 185.4 80.3
c 가나다3 13 145.8 60.6
d 가나다4 44 165.7 44.5
e 가나다5 85 165.2 42.3
sangil0613 황상일2 29 175 70
sangil4234 황상일2 175 70 70

In [190]:
print(client_input)

if client_input == "1":
    input_id = input("id를 입력하세요 : ")
    input_name = input("이름을 입력하세요 : ")
    input_age = input("나이를 입력하세요 : ")
    input_height = input("신장을 입력하세요 : ")
    input_weight = input("몸무게를 입력하세요 : ")

    input_id = Client(input_id, input_name, input_age, input_height, input_weight)

elif client_input == "2":
    input_id = input("id를 입력하세요 : ")
    input_name = input("이름을 입력하세요 : ")
    input_age = input("나이를 입력하세요 : ")
    input_height = input("신장을 입력하세요 : ")
    input_weight = input("몸무게를 입력하세요 : ")

    input_id = Client(input_id, input_name, input_age, input_height, input_weight)

elif client_input == "3":
    input_delete = input("삭제하실 id를 입력하세요 : ")

    del(input_delete)

elif client_input == "4":
    for i in db:
        i.detail()

elif client_input == "0":
    pass

else:
    pass

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2733492440.py, line 3)

In [184]:
    input_id = input("id를 입력하세요 : ")
    input_name = input("이름을 입력하세요 : ")
    input_age = input("나이를 입력하세요 : ")
    input_height = input("신장을 입력하세요 : ")
    input_weight = input("몸무게를 입력하세요 : ")

    input_id = Client(input_id, input_name, input_age, input_height, input_weight)

id를 입력하세요 : sangil0613
이름을 입력하세요 : 황상일2
나이를 입력하세요 : 29
신장을 입력하세요 : 175
몸무게를 입력하세요 : 70

In [1]:
sum = 0

for i in range(1,9):
    for j in range(1, 9):
        print(max(i, j))

1
2
3
4
5
6
7
8
2
2
3
4
5
6
7
8
3
3
3
4
5
6
7
8
4
4
4
4
5
6
7
8
5
5
5
5
5
6
7
8
6
6
6
6
6
6
7
8
7
7
7
7
7
7
7
8
8
8
8
8
8
8
8
8