# 파이썬 함수의 구조


```
def 함수명(매개변수):
    수행할 문장
```

- 함수 명칭은 대체로 동사로 시작하는 경우가 많음
- 함수 명칭은 대체로 스네이크 룰로 작성

In [1]:
# welcome 함수 정의
def welcome():
    print("Hello")
    print("Nice to meet you")

welcome()

Hello
Nice to meet you

In [8]:
# add 함수 정의
def add(a, b):
    return a + b

add(add(2, 3), 4)

9

## 함수 사용의 장점

- 코드의 용도 구분
- 코드 재사용이 용이
- 실수 방지(오타 등)

# 매개변수와 인수

- 매개변수 : 함수에 입력으로 전달된 값을 받는 변수 (parameter)
- 인수 : 함수를 호출할 때 전달하는 입력값 (arguement)

- 인수와 매개변수는 다른 개념이지만 함수가 호출된 뒤에는 구분이 모호해지므로 구분하지 않는 경우도 많음

- 함수의 처리 과정
    - 입력값 -> 함수 실행 - > 결과 출력
    
- 함수의 사용법
    - 결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2, ...)

In [4]:
def print_n_times(value, n):
    for _ in range(n):
        print(value)
        
# 형식을 맞추기 위해 존재하지만 실제로 사용하지 않는 변수의 경우 "_" 를 변수명으로 사용하는 것이 관례

In [3]:
print_n_times("hello", 10)

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [5]:
# 매개변수를 2개 지정하고 인수를 하나만 넣는다면 에러 발생

print_n_times("hello")

TypeError: print_n_times() missing 1 required positional argument: 'n'

In [7]:
# 지정한 매개변수보다 인수를 많이 넣으면 에러 발생

print_n_times("hello", 10, 20)

TypeError: print_n_times() takes 2 positional arguments but 3 were given

### 입력값이 없고 결괏값이 있는 함수

- 함수 사용법
    - 결괏값을 받을 변수 = 함수이름()

In [9]:
def say():
    return "Hi"

In [12]:
a = say()
print(a)

Hi

### 결괏값이 없고 입력값이 있는 함수

- 함수 사용법
    - 암수이름(입력인수1, 입력인수2, ...)

In [14]:
def add(a, b):
    print(f"{a}, {b}의 합은 {a + b}입니다")

In [18]:
add(3, 4)

3, 4의 합은 7입니다

In [19]:
# 결괏값 확인
a = add(3, 4)
print(a)

3, 4의 합은 7입니다
None

### 입력값도 결괏값도 없는 함수

- 사용법
    - 함수이름()

In [21]:
def say():
    print("hello")

In [26]:
say()

hello

## 매개변수 지정하여 호출하기

In [29]:
def add(a, b):
    print(f"{a}, {b}의 합은 {a + b}입니다")

In [30]:
add(a = 3, b = 7)

3, 7의 합은 10입니다

In [31]:
add(a = 7, b = 3)

7, 3의 합은 10입니다

In [32]:
add(b = 5, a = 3)

3, 5의 합은 8입니다

# 함수의 결괏값

In [33]:
def add_and_mul(a, b):
    return a + b, a * b

In [38]:
result = add_and_mul(3, 4)

In [41]:
print(result)

# 함수의 결괏값은 2개가 아니라 하나의 튜플로 반환되었음

print(type(result))

(7, 12)
<class 'tuple'>

In [42]:
# 2개의 결괏값처럼 받을 수 있음

result1, result2 = add_and_mul(3,4)

print(result1, result2)

7 12

In [43]:
def add_and_mul(a,b):
    return a + b
    return a * b

In [45]:
# 함수는 return을 만나는 순간 함수 실행이 종료됨
result = add_and_mul(2, 3)
print(result)

5

### return

- 함수를 종료시키고 싶을 때 사용할 수도 있음

In [47]:
def say_nick(nick):
    if nick == "바보":
        return
    print(f"나의 별명은 {nick} 입니다")

In [48]:
say_nick("바보")

In [51]:
say_nick("야호")

나의 별명은 야호 입니다

# 디폴트 매개변수

- 매개변수로 전달되는 인수가 없는 경우에 기본적으로 사용하는 값

In [52]:
def say_myself(name, old, man = True):
    print(f"나의 이름은 {name} 입니다")
    print(f"나이는 {old} 살입니다")
    
    if man:
        print("남자입니다")
        
    else:
        print("여자입니다")

In [59]:
say_myself("Python", 27, True)

나의 이름은 Python 입니다
나이는 27 살입니다
남자입니다

In [62]:
say_myself("Python", 27, False)

나의 이름은 Python 입니다
나이는 27 살입니다
여자입니다

In [64]:
def print_n_times(value, n=2):
    for _ in range(n):
        print(value)

In [65]:
print_n_times("hello")

hello
hello

In [66]:
print_n_times("hello", 3)

hello
hello
hello

## 디폴트 매개변수의 위치

In [68]:
# 디폴트 매개변수는 일반 매개변수보다 뒤로 와야함
# 파이썬은 인수를 어디에 대입해야할지 알 수 없음
def say_myself(name, man = True, old):
    print(f"나의 이름은 {name} 입니다")
    print(f"나이는 {old} 살입니다")
    
    if man:
        print("남자입니다")
        
    else:
        print("여자입니다")

SyntaxError: non-default argument follows default argument (1742878409.py, line 3)

In [70]:
def say_myself(name, man = True, old = 27):
    print(f"나의 이름은 {name} 입니다")
    print(f"나이는 {old} 살입니다")
    
        
    if man:
        print("남자입니다")
        
    else:
        print("여자입니다")

In [71]:
say_myself("python")

나의 이름은 python 입니다
나이는 27 살입니다
남자입니다

# 지역변수와 전역변수

- 지역변수
    - 함수 내부에서 선언한 변수는 함수 내부에서만 사용할 수 있는 변수가 됨
    - 함수 외부에서는 지역변수에 접근할 수 없음
    
- 전역변수
    - 함수 외부에서 선언한 변수는 함수 내부에서도 사용 가능

In [78]:
def vartest():
    d = 10
    print(d)

In [79]:
vartest()

10

In [80]:
print(d)

NameError: name 'd' is not defined

In [81]:
e = 10

def etest():
    print(e)

In [82]:
etest()

10

In [83]:
print(e)

10

### 전역변수를 함수 내부에서 사용하는 2가지 경우

- 단순 참조
- 전역 변수의 값을 변경

In [84]:
a = 0

def f():
    a = 10
    print(a)

In [85]:
f()

10

In [86]:
print(a)

0

In [89]:
def f():
    global a
    a = 10
    print(a)

In [90]:
f()
print(a)

10
10

# 가변 매개변수(여러 개의 입력값을 받는 함수)

- 함수로 전달해야하는 인수의 개수가 정해지지 않은 매개변수
- 함수 정의 시 매개 변수 앞에 * 붙이면 가변 매개변수가 됨
- 전달되는 인수는 하나의 튜플 형태로 전달

- 가변 매개변수의 제약
    - 가변 매개변수 뒤에는 일반 매개변수가 올 수 없음
    - 가변 매개변수는 하나만 사용할 수 있음

In [95]:
def show(*args):
    print(args)

In [98]:
show("Python")

('Python',)

In [99]:
show("happy", "birthday")

('happy', 'birthday')

In [103]:
def add_many(*args):
    result = 0
    
    for i in args:
        result += i
        
    return result

In [105]:
result = add_many(1, 2, 3)
print(result)

6

In [107]:
result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

In [140]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result += i
            
    elif choice == "mul":
        result = 1
        for i in args:
            result *= i
            
    return result

In [141]:
add_mul("add", 1, 2, 3, 4, 5)

15

In [142]:
add_mul("mul", 1, 2, 3, 4, 5)

120

In [135]:
def add_or_mul(choice = "add", *args):
    if choice == "add":
        result = 0
        for i in args:
            result += i
            
    else:
        result = 1
        for i in args:
            result *= i
            
    return result

In [139]:
add_or_mul("mul", 3, 4, 5)

60

# 키워드 매개변수

In [144]:
def print_kwargs(**kwargs):
    print(kwargs)

In [145]:
print_kwargs(a = 1)

{'a': 1}

In [146]:
print_kwargs(name = "foo", age = 3)

{'name': 'foo', 'age': 3}

# 함수 매개변수 순서

1. 일반 매개변수
2. 디폴트 매개변수
3. 가변 매개변수
4. 키워드 매개변수

- 일반적으로 2~4를 함께 사용하는 경우는 흔하지 않다. 이론적으로 가능한 영역?